/* -- HEADER -- */
.navbar {
	margin-bottom: 0;
}

.jumbotron {
	background:#428BCA;
	color:#fff;
	padding:20px 0;
}

/* -- POST -- */
.main {
	margin-top: 20px;
	margin-bottom: 20px;
}

.post {
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #999;
}

.post .post-title a {
	color:#333;
}

.post .thumb {
	margin-right:10px;
	width:40%;
}

.post .thumb img {
	width:100%;
}
.post video {
	width:40%;
}

.post .contenedor-botones {
	width: 100%;
}

/* -- Media Querie -- */
/*@media screen and (max-width: 768px) {*/
@media screen and (max-width: 800px) {
	.post .thumb {
		width: 50%;
		margin-bottom: 20px;
		margin-right: 0;
		border: 3px;
		border-color: green;
	}
}


/*Efrain*/
/* xs: <576px, sm: ≥576px, md: ≥768px; lg ≥992px  */
.h_feature {
	/*height: 550px;*/
	/*border: 1px solid #f2f2f2; */
	/*border: 1px solid red;*/
	padding: 5px 5px;  
	overflow: auto;
}

.h1_feature {
	padding: 5px;
	height: 560px;
	border: 1px solid #cccccc; /* #f2f2f2 #e6e6e6; #d9d9d9; #cccccc */
	/*border: 1px solid green;  */
	overflow: auto;
}

.t_feature {
	margin: 0px;
	cursor: pointer;
}
.t_footer {
	margin: 0px 0px 10px 0px;
}

@media screen and (max-width: 576px) {
	.menu1_c {
		display: none;
	}
}



--------------------------
/*
.section_e {
	display: none;
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.section_e h1 {
	text-align: center;
	font-size: 6rem;
	font-family: "Cookie";
	padding: 20px;
	margin: 15px;
	z-index: 1;
	opacity: 0.7;
}

.video-container_e {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.color-overlay_e {
	position: absolute;
	top: 0;
	left: 0;
	background-color: yellow;
	width: 100%;
	height: 100vh;
	opacity: 0.5;
}*/

